{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>South Waterfront Grocery Store</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">South Waterfront Grocery Store</h3>
      </div>

      <div class="jumbotron">
        <h1>South Waterfront Grocery Store</h1>
        <p class="lead">Communities have needs.  Real Estate Developers have land.</p>
        <p><a class="btn btn-lg btn-success" href="/survey" role="button">Start</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Who We Are</h4>
          <p>Welcome to Southwaterfront.org, a community organization of residents and businesses in the South Waterfront neighborhood of Portland, OR. This portal was created for the community to better come together and advocate for issues and events that are important to us. Different from a traditional informational website, or community association, this portal is specific to identifying problems, and working with our local government and property owners to develop solutions.</p>
        </div>
        <div class="col-lg-12">
          <h4>The Issue</h4>
          <p>One of the issues that we are currently trying to help you resolve is the need for a grocery store in South Waterfront. A grocery store is a keystone of a livable, walkable, urban community, yet despite significant investment, density, and demand,  South Waterfront has been unable to attract a grocer.  Part of this is that the neighborhood population is just getting to the point to support a grocer, but perhaps part of it is that the community does not have a tool to effectively communicate their desire to attract a grocer to the neighborhood.  We would like to help you to communicate directly to the stores to promote your community as the right place for the store. </p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2014 | {{ ip }}</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% bootstrap_javascript %}
  </body>
</html>